<div class="log-form-body mt-3 mx-3 bolder border border-secondary shadow">
  <div class="form-group">
    <%= form_with(model: ballpark_log, local: true) do |f| %>
      <div class="row">
        <div class="mb-4 col-xs-12 col-sm-4">
          <label class="mb-1">観戦日</label>
          <input type="text" id="datepicker" value="&#xf073;" class="form-control far" >
        </div>
        <div class="mb-4 mr-0 col-xs-12 col-sm-8">
          <%= f.label :stadium_id, class:"mb-1" %>
          <%= f.collection_select :stadium_id, Stadium.all, :id, :name, {include_blank: true}, {class:"form-control"}%>   
        </div>
      </div>
      <div class="row">
        <div class="mb-4 col-xs-12 col-sm-7">
          <%= f.label :game_id, class:"mb-1"%>
          <select name="ballpark_log[game_id]" id="ballpark_log_game_id" class="game-select form-control">
            <option>観戦日を選択してください</option>
          </select>
        </div>
        <div class="mb-4 col-xs-12 col-sm-5">
          <%= f.label :result, class:"mb-1" %>
          <%= f.select :result, [["WIN", "win"], ["LOSE", "lose"],["DRAW", "draw"]], {include_blank: true}, class:"form-control" %>
        </div>
      </div>
      <div class="mb-4">
        <%= f.label :title, class:"mb-1"%>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-baseball-ball"></i>
            </span>
          </div>
          <%= f.text_field :title, class:"form-control", placeholder: "今年初勝利！ホームランも見られて最高だった！" %>
        </div>
      </div>
      <div class="mb-4">
        <%= f.label :description, class:"mb-1" %> 
        <%= f.text_area :description, class:"form-control", placeholder: "先発が抑えて、キャプテンのホームランで先制して、中押しダメ押しで試合を決める理想的な勝ちだった！あと唐揚げビールセットが美味しかった！" %>
      </div>
      <div class="log-image-btn mb-4 pointer">
        <%= f.label :image, class:"d-block" do%>
          <span class="text-dark pl-2">  
            <i class="far fa-image fa-lg fa-fw"></i>画像をアップロード
          </span>
        <% end %>
        <%= f.file_field :image, class:"d-none form-control-file"%>
        <img id="preview"/>
      </div>

      <%= f.submit "登録する", class:"btn btn-primary btn-block btn-lg mt-5 mb-4 bolder"%>
    <% end %>
    <% if @ballpark_log.errors.any? %>
      <ul id="error_explanation" class="alert alert-warning border border-0">
          <% @ballpark_log.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    <% end %>
  </div>
</div>

