<p id="notice"><%= notice %></p>

<%= link_to("NEW", new_ballpark_log_path, class:"mb-2 btn btn-primary")%>
<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>詳細(仮)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ballpark_logs.each do |ballpark_log| %>
      <tr>
        <td><%= ballpark_log.title %></td>
        <td><%= ballpark_log.description %></td>
        <td><%= link_to "詳細", ballpark_log %></td>
        <td><%= link_to "編集", edit_ballpark_log_path(ballpark_log) %></td>
        <td><%= link_to "削除", ballpark_log, method: :delete, data: { confirm: "「#{ballpark_log.title}」を削除します。よろしいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

