<div class="index-bg">
  <div class="index-top image-fluid"></div>
  <%# 投稿一覧 %>
  <div class="index-body container">
    <div class="row no-gutters py-4"> 
      <% @ballpark_logs.each do |ballpark_log| %>
        <div class="col-xs-12 col-sm-6 col-lg-3 mt-3 d-flex justify-content-center wrap">
          <%# 投稿カード %>
          <div class="index-card card mb-4 bg-light border border-secondary shadow">
            <div class="card-body px-3 py-2">
              <%# アイコン画像とユーザー名 %>
              <div class="index-card-header row">
                <div class="col-3">
                  <% if ballpark_log.user.image.attached? %>
                      <%= image_tag ballpark_log.user.image, class:"index-icon mr-1" %>
                  <% else %>
                    <%= image_tag "no-image-icon.jpeg", class:"index-icon mr-1"%>
                  <% end %>
                </div>
                <div class="col-9 d-flex align-items-center justify-content-start pl-0">
                  <p class="card-text bolder"><%= link_to(ballpark_log.user.name,user_path(ballpark_log.user_id), class:"noline black-link") %></p>
                </div>
              </div>

              <%# 添付画像 %>
              <div class="index-card-image mt-3">
                <% if ballpark_log.image.attached? %>
                  <%= image_tag ballpark_log.image, class:"bd-placeholder-img card-img-top", width:"100%", height:"140" %>
                <% else %>
                  <%= image_tag "no-image.png", width:"100%", height:"140" %>
                <% end %>
              </div>
              <%# 試合結果 %>
              <div class="index-card-label bg-dark text-light row mt-3 mx-0 bolder">
                <div class="col-4 p-0 d-flex align-items-center justify-content-end">
                    <p class="index-team m-0"><%= ballpark_log.game.visitor_team.initial%></p>
                </div>
                <div class="col-4 p-0 d-flex align-items-center justify-content-center">
                  <div>
                    <span><%= ballpark_log.game.visitor_score%></span>
                    <span>-</span>
                    <span><%= ballpark_log.game.home_score%></span>
                  </div>
                </div>
                <div class="col-4 p-0 d-flex align-items-center justify-content-start">
                    <p class="index-team m-0"><%= ballpark_log.game.home_team.initial%></p>
                </div>
              </div>
              <%# 投稿タイトル %>
              <div class="index-card-content d-flex justify-content-center mt-2 px-2">
                <%= link_to(ballpark_log.title.truncate(28), ballpark_log, class:"noline black-link") %>
              </div>

              <div class="index-card-footer row justify-content-between mt-4">
                <%# いいねボタン %>
                <div class="col-4 pr-0">
                  <% if current_user %>
                    <div class="ml-3 bolder">
                      <% if Like.find_by(user_id: current_user.id, ballpark_log_id: ballpark_log.id) %>
                        <div class="dislike-btn">
                          <i class="fas fa-thumbs-up text-primary"></i>
                            <%# jpueryに変数を渡す %>
                            <input name="ballparklog-id", type="hidden", value= <%= ballpark_log.id%> class="dislike-ballparklog-id" >
                            <input name="current-user-id", type="hidden", value= <%= current_user.id%> class="dislike-current-user-id" >
                            <%# -------------- %>
                          <span>
                            <%= ballpark_log.count_likes %>
                          </span>
                        </div>
                      <% else %>
                        <div class="like-btn">
                          <i class="far fa-thumbs-up" ></i>
                          <%# jpueryに変数を渡す %>
                            <input name="ballparklog-id", type="hidden", value= <%= ballpark_log.id%> class="like-ballparklog-id" >
                            <input name="current-user-id", type="hidden", value= <%= current_user.id%> class="like-current-user-id" >
                          <%# -------------- %>
                          <span>
                            <%= ballpark_log.count_likes %>
                          </span>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="ml-3 bolder">
                      <div>
                        <i class="far fa-thumbs-up" ></i>
                        <span>
                          <%= ballpark_log.count_likes %>
                        </span>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="comment-icon bolder col-3 p-0">
                  <i class="far fa-comment"></i>
                  <span>
                    <%= ballpark_log.count_comments %>
                  </span>
                </div>
                <div class="col-5 d-flex justify-content-end bolder">
                  <%= ballpark_log.game.date.strftime("%-m月%d日")%>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%# ページネーション %>
    <div class="index-pagination d-flex justify-content-center bolder">
      <%= paginate @ballpark_logs%>
    </div>
  </div>
</div>
