<% if current_user %>
  <%= link_to("NEW", new_ballpark_log_path, class:"mb-3 mt-3 btn btn-primary")%>
<% end %>

<div class="row">
  <% @ballpark_logs.each do |ballpark_log| %>
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <%= image_tag ballpark_log.image, class:"bd-placeholder-img card-img-top", width:"100%", height:"150", alt:"/assets/images/no-image.png" if ballpark_log.image.attached? %>
        
          <div class="card-body">
            <p class="card-text"><%= link_to(ballpark_log.user.name,user_path(ballpark_log.user_id), class:"noline") %></p>
            <%= link_to(ballpark_log.title, ballpark_log, class:"noline") %>
          </div>
          <%= link_to("Like", "likes/:ballpark_log_id/create", method: :post, class:"btn btn-primary")%>
      </div>
    </div>
  <% end %>
</div>