<div class="index-bg">
  <div class="bg-mask">
    <div class="index-top"></div>
    <%# 投稿一覧 %>
    <div class="index-body container">
      <div class="row mx-auto py-4"> 
        <% @ballpark_logs.each do |ballpark_log| %>
          <div class="col-xs-12 col-md-6 col-lg-3 mt-3">
            <%# 投稿カード %>
            <div class="index-card card mb-4 border-0">
              <div class="card-body p-2">
                <%# アイコン画像とユーザー名 %>
                <div class="index-card-header row">
                  <div class="col-3">
                    <% if ballpark_log.user.image.attached? %>
                        <%= image_tag ballpark_log.user.image, class:"index-icon mr-1" %>
                    <% else %>
                      <%= image_tag "no-image-icon.jpeg", class:"index-icon mr-1"%>
                    <% end %>
                  </div>
                  <div class="col-9 d-flex align-items-center justify-content-start pl-0">
                    <p class="card-text"><%= link_to(ballpark_log.user.name,user_path(ballpark_log.user_id), class:"noline black-link") %></p>
                  </div>
                </div>

                <%# 添付画像 %>
                <div class="index-card-image mt-1">
                  <% if ballpark_log.image.attached? %>
                    <%= image_tag ballpark_log.image, class:"bd-placeholder-img card-img-top", width:"100%", height:"140" %>
                  <% else %>
                    <%= image_tag "no-image.png", width:"100%", height:"140" %>
                  <% end %>
                </div>
                <%# 試合結果 %>
                <div class="index-card-label row mt-3 mx-0">
                  <div class="col-4 p-0 d-flex align-items-center justify-content-end">
                      <p class="index-team m-0"><%= ballpark_log.game.visitor_team.initial%></p>
                  </div>
                  <div class="col-4 p-0 d-flex align-items-center justify-content-center">
                    <div>
                      <span><%= ballpark_log.game.visitor_score%></span>
                      <span>-</span>
                      <span><%= ballpark_log.game.home_score%></span>
                    </div>
                  </div>
                  <div class="col-4 p-0 d-flex align-items-center justify-content-start">
                      <p class="index-team m-0"><%= ballpark_log.game.home_team.initial%></p>
                  </div>
                </div>
                <%# 投稿タイトル %>
                <div class="index-card-content d-flex justify-content-center mt-2 px-2">
                  <%= link_to(ballpark_log.title.truncate(30), ballpark_log, class:"noline black-link") %>
                </div>

                <%# いいねボタン %>
                <div class="index-card-footer row justify-content-between mt-4">
                  <div class="col-4">
                    <% if current_user %>
                      <div class="ml-3">
                        <% if Like.find_by(user_id: current_user.id, ballpark_log_id: ballpark_log.id) %>
                          <%= link_to(ballpark_log_like_path(ballpark_log.id, current_user.id), method: :delete) do %>
                            <i class="fas fa-thumbs-up"></i>
                          <% end %>
                        <% else %>
                          <i class="like-btn far fa-thumbs-up" ></i>
                          <%# jpueryに変数を渡す %>
                            <input name="current-user-id", type="hidden", value= <%= current_user.id%> class="current-user-id" >
                            <input name="ballparklog-id", type="hidden", value= <%= ballpark_log.id%> class="ballparklog-id" >
                            <%# -------------- %>
                        <% end %>
                        <%= ballpark_log.count_likes %>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-8 d-flex justify-content-end">
                    <%= ballpark_log.game.date.strftime("%-m月%d日")%>
                  </div>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%# ページネーション %>
      <div class="index-pagination d-flex justify-content-center">
        <%= paginate @ballpark_logs%>
      </div>
    </div>
  </div>
</div>
