<div class="index-bg">
  <!-- Masthead-->
  <header class="masthead masthead-index">
      <div class="container">
        <div class="masthead-subheading">Welcome To Our Stadium!</div>
        <div class="masthead-heading">野球観戦を記録しよう</div>
        <% unless current_user %>
          <span><%= link_to("今すぐ始めてみる", new_user_path, class:"js-scroll-trigger btn btn-light btn-xl text-dark mr-2 bolder") %></span>
        <% end %>
      </div>
  </header>
  <%# 投稿一覧 %>
  <div class="index-body container">
    <div class="row no-gutters py-4"> 
      <% @ballpark_logs.each do |ballpark_log| %>
        <div class="col-xs-12 col-sm-6 col-lg-3 mt-3 d-flex justify-content-center wrap">
          <%# 投稿カード %>
          <div class="index-card card mb-4 bg-light shadow-sm">
            <div class="card-body px-3 py-2">
              <%# アイコン画像とユーザー名 %>
              <div class="index-card-header row">
                <div class="col-3">
                  <% if ballpark_log.user.image.attached? %>
                      <%= image_tag ballpark_log.user.image, class:"index-icon mr-1" %>
                  <% else %>
                    <%= image_tag "no-image-icon.png", class:"index-icon mr-1"%>
                  <% end %>
                </div>
                <div class="col-9 d-flex align-items-center justify-content-start pl-0">
                  <p class="card-text bolder"><%= link_to(ballpark_log.user.name,user_path(ballpark_log.user_id), class:"noline black-link") %></p>
                </div>
              </div>

              <%# 添付画像 %>
                <div class="index-card-body">
                  <div class="index-card-image text-center mt-3">
                    <%= link_to(ballpark_log) do %>
                      <% if ballpark_log.image.attached? %>
                        <%= image_tag ballpark_log.image, class:"index-card-img" %>
                      <% else %>
                        <%= image_tag "no-image.png", class:"index-card-img" %>
                      <% end %>
                    <% end %>
                  </div>
                  <%# 試合結果 %>
                  <div class="index-card-label bg-dark text-light row mt-3 mx-0 bolder">
                    <div class="col-4 p-0 d-flex align-items-center justify-content-end">
                        <p class="index-team m-0"><%= ballpark_log.game.visitor_team.initial%></p>
                    </div>
                    <div class="col-4 p-0 d-flex align-items-center justify-content-center">
                      <div>
                        <span><%= ballpark_log.game.visitor_score%></span>
                        <span>-</span>
                        <span><%= ballpark_log.game.home_score%></span>
                      </div>
                    </div>
                    <div class="col-4 p-0 d-flex align-items-center justify-content-start">
                        <p class="index-team m-0"><%= ballpark_log.game.home_team.initial%></p>
                    </div>
                  </div>
                  <%# 投稿タイトル %>
                  <div class="index-card-content d-flex justify-content-center mt-2 px-2">
                    <%= link_to(ballpark_log.index_title, ballpark_log, class:"noline black-link") %>
                  </div>
                </div>

              <div class="index-card-footer row justify-content-between mt-4">
                <%# いいねボタン %>
                <div class="col-4 pr-0">
                  <%= render partial: 'likes/like' %>
                </div>
                <div class="comment-icon bolder col-3 p-0">
                  <i class="far fa-comment"></i>
                  <span><%= ballpark_log.count_comments %></span>
                </div>
                <div class="col-5 d-flex justify-content-end bolder pl-0 text-right">
                  <%= ballpark_log.game.date.strftime("%-m月%d日")%>
                </div>
              </div>

            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%# ページネーション %>
    <div class="index-pagination d-flex justify-content-center bolder">
      <%= paginate @ballpark_logs%>
    </div>
  </div>
</div>
