<div class="log-show-bg">
    <div class="bg-mask d-flex justify-content-center">
        <div class="log-show-body shadow-sm px-5 pb-4">
            <%# ユーザー情報 %>
            <div class="log-show-header d-flex flex-column flex-md-row align-items-center p-3 mt-3">
                <% if @ballpark_log.user.image.attached? %>
                    <div class="rounded-circle">
                        <%= image_tag @ballpark_log.user.image, class:"index-icon mr-4" %>
                    </div>
                <% else %>
                    <%= image_tag "no-image-icon.jpeg", class:"index-icon mr-4"%>
                <% end %>
                <div class="my-0 mr-md-auto font-weight-normal"><%= link_to(@ballpark_log.user.name,user_path(@ballpark_log.user_id), class:"noline black-link") %></div>
                <nav class="my-2 my-md-0 mr-md-3">
                    <% if current_user && current_user.id == @ballpark_log.user_id %>
                        <%= link_to("Edit", edit_ballpark_log_path(@ballpark_log), class:"btn btn-outline-secondary btn-sm") %> 
                    <% end %>
                </nav>
            </div>
            <%# タイトル %>
            <h1 class="text-center border-bottom pt-4 pb-1"><%= @ballpark_log.title %></h1>

            <%# 試合結果 %>
            <div class="row">
            <p class="col-2"><%= @ballpark_log.game.date.strftime("%Y年%-m月%d日")%></p>
            <p class="col-10 d-flex justify-content-strat"><%= @ballpark_log.stadium.name %></p>
        
            </div>
            <div>
                <div class="row text-center">
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <h3><%= @ballpark_log.game.visitor_team.name%></h3>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <div class="row">
                            <span class="h1 col-4 m-0"><%= @ballpark_log.game.visitor_score%></span>
                            <span class="h2 col-4 m-0 pt-1">-</span>
                            <span class="h1 col-4 m-0"><%= @ballpark_log.game.home_score%></span>
                        </div>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <h3><%= @ballpark_log.game.home_team.name%></h3>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <p class="badge  badge-pill badge-dark">VISITOR</p>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <p class="log-show-result mb-0 text-uppercase"><%= @ballpark_log.result %></p>
                    </div>
                    <div class="col-md-4">
                        <p class="badge badge-pill badge-light">HOME</p>
                    </div>
                </div>
            </div>

            <%# 文章 %>
            <div class="row">
                <p class="pt-3 col-8 offset-2"><%= @ballpark_log.description %></p>
            </div>
            <div class="text-center pb-3">
                <%= image_tag @ballpark_log.image, width:"60%", height:"60%" if @ballpark_log.image.attached? %>
            </div>

            <%# いいね %>
            <% if current_user %>
                <div class="mt-3">
                    <% if Like.find_by(user_id: current_user.id, ballpark_log_id: @ballpark_log.id) %>
                        <%= link_to("likes/#{@ballpark_log.id}/destroy", method: :delete) do %>
                            <i class="fas fa-thumbs-up"></i>
                        <% end %>
                    <% else %>
                        <%= link_to("likes/#{@ballpark_log.id}/create", method: :post) do %>
                            <i class="far fa-thumbs-up"></i>
                        <% end %>
                    <% end %>
                    <%= Like.where(ballpark_log_id: @ballpark_log.id).count %>
                </div>
            <% end %>
        </div>
    </div>
</div>
