<div class="user-form-bg d-flex justify-content-center">
  <div class="user-form-wrapper">
    <div class="text-center user-form-title">
      <h1 class="text-dark bolder">SIGN UP</h1>
    </div>
    <div class="user-form bolder border border-dark shadow">
      <div class="form-group">
        <%= form_with(model: @user, local: true) do |f| %>
          <%= f.label :name, class:"mb-1"%>
          <span class="badge badge-pill badge-info mb-1 ml-1">必須</span>
          <%= f.text_field :name, class:"form-control mb-4" %>
          <%= f.label :お気に入りチーム, class:"mb-1" %>
          <span class="badge badge-pill badge-info mb-1 ml-1">必須</span>
          <%= f.fields_for :favorite_team do |fav|%>
            <%= fav.collection_select :team_id, Team.all.order(:id), :id, :name, {include_blank: true}, {class:"form-control mb-4 pl-2"} %>
          <% end %>          
          <%= f.label :email, class:"mb-1" %>
          <span class="badge badge-pill badge-info mb-1 ml-1">必須</span>
          <%= f.email_field :email, class:"form-control mb-4" %>
          <%= f.label :password, class:"mb-1"%>
          <span class="badge badge-pill badge-info mb-1 ml-1">必須</span>
          <%= f.password_field :password, class:"form-control" %>
          <p class="text-secondary small mb-3">* パスワードは英数8文字以上で入力してください</p>
          <%= f.label :"password_confirmation", class:"mb-1"%>
          <span class="badge badge-pill badge-info mb-1 ml-1">必須</span>
          <%= f.password_field :password_confirmation, class:"form-control mb-5" %>
          <% if @user.errors.any? %>
            <ul id="error_explanation" class="alert alert-warning mt-3">
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <%= f.submit "登録", class:"btn btn-primary btn-block bolder"%>
        <% end %>
      </div>
    </div>
  </div>      
</div>