<div class="user-show-bg text-dark">
    <div class="user-show-top-wrapper d-flex align-items-center justify-content-center">
      <%# 観戦成績 %>
      <div class="user-show-top border border-dark">
        <div class="user-show-top-header d-flex flex-column flex-md-row align-items-center p-3">
          <% if @user.image.attached? %>
            <div class="rounded-circle">
              <%= image_tag @user.image, class:"show-icon mx-4" %>
            </div>
          <% else %>
            <%= image_tag "no-image-icon.jpeg", class:"show-icon mx-4"%>
          <% end %>
          <div class="h4 my-0 mr-3 bolder"><%= @user.name %></div>
          <p class="my-auto mr-auto bolder"><%= @user.favteam %></p>
          <nav class="my-2 my-md-0 mr-md-3">
            <% if current_user&.id == @user.id %>
                <%= link_to("設定", edit_user_path, class:"btn btn-outline-secondary bolder")%>
            <% end %>
          </nav>
        </div>      
        <div class="user-show-top-resutl d-flex align-items-center justify-content-center">
          <div>
            <h1 class="text-dark pt-4 bolder"><%= @user.count_win %>勝<%= @user.count_lose %>敗  <%= @user.winning_percentage %></h1>
            <div class="form-group text-center">
              <label>
                <select class="form-control border-0 opacity-form bolder">
                  <option value="">2020年〜</option>
                  <option value="">2019年〜2020年</option>
                  <option value="">ALL</option>
                </select>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# 投稿一覧 %>
    <div class="user-show-body-wrapper">
      <div class="user-show-body">
        <div class="user-show-body-index mt-5">
            <%# 投稿・Likeタブ %>
            <ul class="nav nav-tabs bolder" id="myTab" role="tablist">
              <li class="user-show-nav-item nav-item w-50">
                <a class="nav-link text-center black-link bg-light active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Log</a>
              </li>
              <li class="user-show-nav-item nav-item w-50">
                <a class="nav-link text-center black-link bg-light" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">いいね</a>
              </li>
            </ul>

            <div class="user-show-tab-content border border-dark border-top-0 tab-content" id="myTabContent">
              <%# 自分の投稿 %>
              <div class="tab-pane fade show active px-5" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <% @user.ballpark_logs.each do |ballpark_log| %>
                    <div class="user-show-index-item row py-2 px-4 d-flex align-items-center">
                      <div class="col-1 bolder"><%= ballpark_log.game.date.strftime("%-m/%d")%></div>
                      <div class="col-1 bolder">
                        <% if ballpark_log.result == "win" %>
                          <p class="m-0">○</p>
                        <% elsif ballpark_log.result == "lose" %>
                          <p class="m-0">●</p>
                        <% else %>
                          <p class="m-0">-</p>
                        <% end%>
                      </div>
                      <div class="col-2 p-0 row bolder"> 
                        <div class="col-md-4 d-flex justify-content-end">
                          <%= ballpark_log.game.visitor_team.initial%>
                        </div>
                        <div class="col-md-4 row d-flex justify-content-center p-0">
                            <%= ballpark_log.game.visitor_score%>
                            <span> - </span>
                            <%= ballpark_log.game.home_score%>
                        </div>
                        <div class="col-md-5 d-flex justify-content-start">
                          <%= ballpark_log.game.home_team.initial%>
                        </div>
                      </div>
                      <div class="col-6 text-left">
                        <%= link_to(ballpark_log.title.truncate(36), ballpark_log, class:"noline black-link") %>
                      </div>
                      <% if current_user == @user %>
                        <div class="col-2 btn-group">
                          <%= link_to("編集", edit_ballpark_log_path(ballpark_log), class:"btn btn-outline-secondary btn-sm") %>
                          <%= link_to("削除", ballpark_log, method: :delete, data: { confirm: "「#{ballpark_log.title}」を削除します。よろしいですか？" }, class:"btn btn-outline-danger btn-sm") %>
                        </div>
                      <% end %>
                    </div>
                    <% end %>
              </div>
              
              <%# いいねした投稿 %>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-borderless">
                  <tbody>
                    <% @user.like_ballpark_logs.each do |like_ballpark_log| %>
                      <tr>
                        <td>
                          <% if like_ballpark_log.user.image.attached? %>
                            <div class="rounded-circle">
                              <%= image_tag like_ballpark_log.user.image, class:"index-icon mr-4" %>
                            </div>
                          <% else %>
                            <%= image_tag "no-image-icon.jpeg", class:"index-icon mr-4"%>
                          <% end %>
                        </td>
                        <td><%= link_to(like_ballpark_log.user.name, user_path(like_ballpark_log.user_id), class:"noline black-link bolder") %></td>
                        <td><%= link_to(like_ballpark_log.title, like_ballpark_log, class:"noline black-link") %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>

            </div>   
        </div>
      </div>
    </div>
</div>