<div class="user-show-bg">
    <%# トップ %>
      <!-- Masthead-->
      <header class="masthead masthead-show">
        <div class="d-flex justify-content-center">
          <div class="user-show-top border border-light bg-light">
            <%# ユーザー情報 %>
            <div class="user-show-top-header d-flex flex-column flex-md-row align-items-center p-3"> 
              <%# プロフィール画像 %>
              <div data-toggle="tooltip" title="プロフィール画像を編集" data-delay="500">
                <% if @user.image.attached? %>
                  <span class="icon-edit-link" data-toggle="modal" data-target="#exampleModalCenter">
                    <%= image_tag @user.image, class:"user-show-icon mx-4" %>
                  </span>
                <% else %>
                  <span data-toggle="modal" data-target="#exampleModalCenter">
                    <%= image_tag "no-image-icon.png", class:"user-show-icon mx-4"%>
                  </span>
                <% end %>
                </div>
                <%# プロフィール画像編集モーダル %>
                <div class="user-icon-modal modal fade border border-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title bolder text-dark" id="exampleModalCenterTitle">プロフィール画像編集</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <%= form_with(url: user_path(@user), model:@user, local: true, method: :PATCH) do |f| %>
                        <div class="modal-body">
                          <div class="log-image-btn my-4">
                            <%= f.label :image, class:"d-block" do%>
                              <span class="h5 text-dark pl-2">  
                                <i class="far fa-image fa-lg fa-fw"></i>画像を選択
                              </span>
                            <% end %>
                            <%= f.file_field :image, class:"d-none form-control-file"%>
                            <img class="icon-preview" id="icon_preview"/>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <% if guest_user %>
                            <p>ユーザー登録すると自由にプロフィール画像を設定できます。</p>
                            <button type="button" class="btn btn-primary bolder">設定</button>
                          <% else %>
                            <%= f.submit "設定", class:"btn btn-primary bolder"%>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <%# 名前・お気に入り球団・設定ボタン等 %>
                <div class="h2 my-0 mr-4 bolder text-dark"><%= @user.name %></div>
                <div class="mr-auto text-dark">
                  <span class="badge badge-pill badge-dark">お気に入り球団</span>
                  <% if @user.email == "guest_user@example.com" %>
                    <p class="my-auto mr-auto bolder">ゲストチーム</p>
                  <% else %>
                    <p class="my-auto mr-auto bolder"><%= @user.favteam %></p>
                  <% end %>
                </div>
                <nav class="my-2 my-md-0 mr-md-3">
                  <% if current_user %>
                    <% if guest_user%>
                      <%= link_to("#") do%>
                        <i class="fas fa-cog text-dark fa-lg" data-toggle="tooltip" title="ユーザー情報を編集" data-delay="500"></i>
                      <% end %>
                    <% else %>
                      <%= link_to(edit_user_path(@user.id)) do%>
                        <i class="fas fa-cog text-dark fa-lg" data-toggle="tooltip" title="ユーザー情報を編集" data-delay="500"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </nav>
              </div>  
              <%# 戦績 %>
              <div class="user-show-top-result d-flex align-items-center justify-content-center">
                <div>
                  <h1 class="text-dark pt-5 bolder">
                    <%= @user.count_game %>試合 <%= @user.count_win %>勝<%= @user.count_lose %>敗<% if @user.count_draw != 0%><%= @user.count_draw %>分<% end %> <% unless @user.winning_percentage == "NaN" %><%= @user.winning_percentage %><% end %>
                  </h1>
                  <div class="form-group text-center">
                    <label>
                      <select id="season" class="form-control border-0 opacity-form bolder">
                        <option>通算</option>
                        <option>2020年</option>
                      </select>
                      <%# <%= search_form_for @q, url: user_path(@user) do |f|%>
                        <%# <div class="form-control border-0 opacity-form bolder"> %>
                            <%# <%= f.collection_select :date_gteq, @categories, :id, :name %>
                            <%# <%= f.search_field :date_cont %>
                        <%# </div> %>
                        <%# <%= f.submit "検索", class: "btn btn-info mt-2 mb-2"%> 
                      <%# <% end %>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    

    <%# 投稿一覧 %>
    <div class="user-show-body-wrapper">
      <div class="user-show-body shadow">
        <div class="user-show-body-index mt-5">
            <%# 投稿・Likeタブ %>
            <ul class="nav nav-tabs bolder" id="myTab" role="tablist">
              <li class="user-show-nav-item nav-item w-50">
                <a class="nav-link text-center black-link bg-light active d-flex justify-content-center align-items-center" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Log</a>
              </li>
              <li class="user-show-nav-item nav-item w-50">
                <a class="nav-link text-center black-link bg-light d-flex justify-content-center align-items-center" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">いいね</a>
              </li>
            </ul>

            <div class="user-show-tab-content tab-content" id="myTabContent">
              <%# 自分の投稿 %>
              <ul class="tab-pane fade show active pt-3 pb-5 px-5" id="home" role="tabpanel" aria-labelledby="home-tab">
                <% if @ballpark_logs.blank? %>
                  <li class="bg-light text-center">
                    まだLogはありません
                  </li>
                <% else %>
                  <% @ballpark_logs.each do |ballpark_log| %>
                    <%# 各投稿 %>
                    <li class="user-show-index-item row py-2 px-4 d-flex align-items-center border-bottom">
                      <div class="col-1 bolder"><%= ballpark_log.game.date.strftime("%-m/%d")%></div>
                      <div class="col-1 bolder">
                        <% if ballpark_log.result == "win" %>
                          <p class="text-center m-0">○</p>
                        <% elsif ballpark_log.result == "lose" %>
                          <p class="text-center m-0">●</p>
                        <% else %>
                          <p class="text-center m-0">-</p>
                        <% end%>
                      </div>
                      <div class="col-3 p-0 row bolder"> 
                        <div class="col-md-4 d-flex justify-content-end">
                          <%= ballpark_log.game.visitor_team.initial%>
                        </div>
                        <div class="col-md-4 row d-flex justify-content-center p-0">
                          <%= ballpark_log.game.visitor_score%>
                          <span> - </span>
                          <%= ballpark_log.game.home_score%>
                        </div>
                        <div class="col-md-5 d-flex justify-content-start">
                          <%= ballpark_log.game.home_team.initial%>
                        </div>
                      </div>
                      <div class="col-6 text-left">
                        <%= link_to(ballpark_log.user_show_title, ballpark_log, class:"noline black-link") %>
                      </div>
                      <% if current_user == @user %>
                        <div class="col-1 btn-group">
                          <%= link_to(edit_ballpark_log_path(ballpark_log)) do %>
                            <span class="fas fa-ellipsis-h text-dark fa-lg" data-toggle="tooltip" title="Logを編集" data-delay="500"></span>
                          <% end %>
                        </div>
                      <% end %>
                    </li>
                  <% end %>
                <% end %> 
              </ul>
              
              <%# いいねした投稿 %>
              <div class="tab-pane fade pt-3 pb-5 px-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <% if @user.like_ballpark_logs.blank? %>
                  <div class="bg-light text-center">
                      まだいいねしたLogはありません
                  </div>
                <% else %>
                  <% @user.like_ballpark_logs.each do |like_ballpark_log| %>
                    <%# 各投稿 %>
                    <div class="user-show-index-item row py-2 px-4 d-flex align-items-center border-bottom">
                      <div class="col-1">
                        <% if like_ballpark_log.user.image.attached? %>
                          <div class="rounded-circle">
                            <%= image_tag like_ballpark_log.user.image, class:"index-icon mr-4" %>
                          </div>
                        <% else %>
                          <%= image_tag "no-image-icon.png", class:"index-icon mr-4"%>
                        <% end %>
                      </div>
                      <div class="col-2"><%= link_to(like_ballpark_log.user.name, user_path(like_ballpark_log.user_id), class:"noline black-link bolder") %></div>
                      <div class="col-1 bolder"><%= like_ballpark_log.game.date.strftime("%-m/%d")%></div>
                      <div class="col-3 p-0 row bolder"> 
                        <div class="col-md-4 d-flex justify-content-end">
                          <%= like_ballpark_log.game.visitor_team.initial%>
                        </div>
                        <div class="col-md-4 row d-flex justify-content-center p-0">
                          <%= like_ballpark_log.game.visitor_score%>
                          <span> - </span>
                          <%= like_ballpark_log.game.home_score%>
                        </div>
                        <div class="col-md-5 d-flex justify-content-start">
                          <%= like_ballpark_log.game.home_team.initial%>
                        </div>
                      </div>
                      <div class="col-5 text-left">
                        <%= link_to(like_ballpark_log.likes_title, like_ballpark_log, class:"noline black-link") %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

            </div>   
        </div>
      </div>
</div>