<h1><%= @user.name%></h1>
<%= link_to("編集",edit_user_path, class:"btn btn-secondary")%>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.ballpark_logs.each do |ballpark_log| %>
      <tr>
        <td><%= link_to(ballpark_log.title, ballpark_log, class:"noline") %></td>
        <% if current_user && current_user.id == @user.id %>
          <td><%= link_to("編集", edit_ballpark_log_path(ballpark_log), class:"btn btn-success") %>
              <%= link_to("削除", ballpark_log, method: :delete, data: { confirm: "「#{ballpark_log.title}」を削除します。よろしいですか？" }, class:"btn btn-danger") %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>