<div class="login-form-bg">
    <div class="login-form-wrapper d-flex justify-content-center">
        <div class="login-form-content">
            <div class="text-center login-form-title">
                <h1 class="text-light bolder">パスワード変更</h1>
            </div>
            <div class="login-form border bg-light shadow m-0">
                <div class="form-group mt-5 bolder">
                    <%= form_with(url: users_password_path(@user), model: @user, local: true, method: :PATCH) do |f|%>
                        <div class="form-lagel-group">
                            <%= f.label :"パスワード" %>
                            <%= f.password_field :password, class:"form-control mb-3" %>
                            <%= f.label :"パスワード(確認)" %>
                            <%= f.password_field :password_confirmation, class:"form-control mb-5" %>
                            <%= f.submit "パスワードを変更", class: "mt-2 btn btn-primary btn-block bolder"%>
                        </div>
                    <% end %> 
                </div>
            </div>
        </div>
    </div>
</div>